<div class="container mt-5">
  <h1 class="mb-4">
    <div class="row">
      <div class="col-10">
        <div class="d-flex">
          <span class="pe-3">Card List</span>
          <div class="text-center" *ngIf="postsLoading$ | async" class="loader">
            <div class="spinner-grow text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <app-create-post></app-create-post>
      </div>
    </div>
  </h1>

  <div class="input-group mb-3">
    <span class="input-group-text" id="search"
      ><i class="bi bi-search"></i
    ></span>
    <input
      type="text"
      [(ngModel)]="searchText"
      class="form-control"
      placeholder="Search..."
      aria-label="Search"
      aria-describedby="search"
    />
  </div>

  <ng-container *ngIf="posts$ | async as posts">
    <div class="row" id="cardList">
      <ng-container *ngFor="let post of posts.items | filter : searchText">
        <app-post ngClass="col-md-4 mb-4" [post]="post"></app-post>
      </ng-container>

      <nav aria-label="Page navigation">
        <div class="d-flex justify-content-between align-items-center">
          <pagination
            [totalItems]="posts.totalCount"
            [(ngModel)]="currentPage"
            (pageChanged)="onPageChange($event)"
          ></pagination>
          <span
            >Total Items: <strong>{{ posts.totalCount }}</strong></span
          >
        </div>
      </nav>
    </div>
  </ng-container>
</div>
